* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background-color: rgb(244, 244, 244);
    margin: 0 auto;
}

/* modal window */

.modal {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #0000006b;
    left: 0;
    top: 0;
    display: flex;
    z-index: 50;
    justify-content: center;
    align-items: center;
    display: none;
    transition: all 1s linear;

}

.modal__child {
    max-width: 500px;
    height: 250px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 25px;
    position: relative;
    flex-direction: column;
    border-radius: 15px;
    border: 1px solid #fff;
    background-color: #000;

}

.modal__text {
    text-transform: uppercase;
    color: transparent;
    background-image: url('../img/monterey.png');
    background-repeat: no-repeat;
    background-position: top top;
    background-clip: text;
    font-size: 35px;
    font-weight: bolder;
    text-align: center;
}

.modal__btn {
    background-color: transparent;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 25px;
    margin-top: 15px;
    position: relative;
}

.slit-in-vertical {
    -webkit-animation: slit-in-vertical 0.45s ease-out both;
    animation: slit-in-vertical 0.45s ease-out both;
    display: flex;
}

@-webkit-keyframes slit-in-vertical {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }

    54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
}

@keyframes slit-in-vertical {
    0% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }

    54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
    }
}

.slit-out-vertical {
    -webkit-animation: slit-out-vertical 0.5s ease-in both;
    animation: slit-out-vertical 0.5s ease-in both;
}

@-webkit-keyframes slit-out-vertical {
    0% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
        opacity: 1;
    }

    54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }
}

@keyframes slit-out-vertical {
    0% {
        -webkit-transform: translateZ(0) rotateY(0);
        transform: translateZ(0) rotateY(0);
        opacity: 1;
    }

    54% {
        -webkit-transform: translateZ(-160px) rotateY(87deg);
        transform: translateZ(-160px) rotateY(87deg);
        opacity: 1;
    }

    100% {
        -webkit-transform: translateZ(-800px) rotateY(90deg);
        transform: translateZ(-800px) rotateY(90deg);
        opacity: 0;
    }
}




.mask {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    background-color: #fff;
    z-index: 40;
    transition: .8s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    position: relative;
    font-size: 10vw;
    color: #fff;
    -webkit-text-stroke: 0.3vw #00000083;
    text-transform: uppercase;
}

.loader::before {
    content: attr(data-text);
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    color: #000;
    -webkit-text-stroke: 0vw #000;
    border-right: 5px solid #000;
    overflow: hidden;
    animation: animate 5s linear infinite;
}

.hide {
    opacity: 0;
    transform: scale(.1);
}


@keyframes animate {

    0%,
    10%,
    100% {
        width: 0;
    }

    70%,
    90% {
        width: 100%;
    }
}

/* header starts */

.header {
    margin: 0 auto;
}



.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}


.logo-of-company {
    text-align: center;
    padding-top: 59px;
}

#top {
    filter: drop-shadow(0px -14px 6px black);
}

.header-main-text {
    max-width: 580px;
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* header ends */

/* main */
/* section Loncaro starts */

.food__beverage {
    padding-top: 30px;
}

.section-loncaro {
    margin-top: 72px;
    margin-bottom: 83px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 15px;

}

.intro-box-1 {
    flex-basis: 380px;
    font-family: 'Playfair Display', serif;
}

.intro__box-2 {
    max-width: 100%;
}

.intro__image {
    width: 100%;
}


.loncaro-title {
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.loncaro-first-text {
    font-family: 'Playfair Display', serif;
    color: rgb(136, 136, 136);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    text-transform: uppercase;
}

.loncaro-second-text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

/* section Loncaro ends */

/* section of brand starts */

.brand-section h2 {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.first-brand {
    justify-content: flex-end;
    margin-top: 32px;
    flex-wrap: wrap;
    margin-bottom: 30px;
    margin-right: 44px;
    display: flex;
    text-align: end;
}

.first-brand img {
    max-width: 57.3%;
}


.brand-subtitle {
    width: 57.3%;
    text-align: center;
    padding: 39px;
    border-radius: 0px 0px 8px 8px;
    background: rgb(255, 255, 255);
}

.brand-fr-text {
    color: rgb(136, 136, 136);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    text-transform: uppercase;
}

.brand-snd-text {
    font-family: 'Playfair Display';
    font-size: 30px;
    font-weight: 700;
    line-height: 40px;
    margin-top: 6px;
    margin-bottom: 10px;
}

.brand-thrd-text {
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 400px;
    margin: 0 auto;
}

.second-brand {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin: 0 30px;
    justify-content: center;
}

.second-brand_first {
    width: 55.3%;
}

.callout__text {
    width: 100%;
}

.callout_img {
    max-width: 100%;
}

.image-comparison {
    position: relative;
    display: inline-block;
    width: 470px;
    overflow: hidden;
    height: 564px;
}

.image-comparison_image {
    height: 100%;
    border-radius: 8px;
}

.image-comparison_before {
    position: absolute;
    width: 50%;
    overflow: hidden;
    border-radius: 8px;
}



.before,
.after {
    position: absolute;
}

.after {
    top: 30px;
    right: 30px;
}

.before {
    top: 30px;
    left: 30px;
    z-index: 1;
}

.slider {
    position: absolute;
    top: 50%;
    left: 43%;
    z-index: 10;
    border-radius: 35px;
    border: 3px solid rgb(255, 255, 255);
    background: rgba(0, 0, 0, 0.2);
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
    padding: 5px;
}

.vector-right,
.vector-left {
    cursor: pointer;
}

.apear1 {
    width: 100%;
    transition: all 2s linear;
}

.apear2 {
    opacity: 0;
    transition: all 2s linear;

}

.image-before,
.image-after {
    position: relative;
    animation: sizer 3s linear infinite;
}


.comparison-container {
    height: 607px;
    overflow: hidden;
}

.image-after {
    height: 100%;
}

@keyframes sizer {

    0%,
    10% {
        transform: scale(1);

    }

    50%,
    60%,
    70%,
    80% {
        transform: scale(.8);
    }

    90%,
    100% {
        transform: scale(.5);
        background-color: transparent;
    }
}


.comparison_image {
    height: 100%;
    max-width: 100%;

}

.image-before {
    height: 100%;
}

.comparison_image_first {
    height: 100%;
}

.third-brand {
    margin-top: 30px;
}


.third-brand-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.weidos__img {
    width: 37%;
}

.mezcla__img {
    width: 96.3%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.mezcla__container {
    width: 54.9%;
}

.mezcla__info {
    width: 96.3%;
    margin: 0 auto;
}

.forth-brand {
    margin-top: 30px;
    display: flex;
    margin-left: 30px;
}

.toum__info {
    width: 100%;
}

.toum__img {
    max-width: 100%;
}


.fifth-brand {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}

.comparison_image_first,
.lebby__after,
.twoGood__img {
    max-width: 100%;
}

.twoGood__info {
    width: 100%;
}



.sixth-brand {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 102px;
    justify-content: center;
}

.juice__img {
    max-width: 100%;
}

.juice__info {
    width: 100%;
}

.review {
    border-radius: 8px;
    background: rgb(255, 255, 255);
    text-align: center;
    padding: 30px 45px;
    display: flex;
    align-items: center;
    max-width: 34%;
}

.review-card {
    padding: 91px 24px;
}

.review-user {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 10px;
}

.about-user,
.user-comment {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
}

.about-user {
    margin-top: 7px;
    margin-bottom: 14px;
}

.seventh-brand {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    padding-bottom: 30px;
    justify-content: center;
}

.purpose__img {
    border-radius: 8px;
    max-width: 100%;
}

.seventh-brand div {
    background-color: #fff;
}

.beets__img {
    max-width: 100%;
}

.width-content {
    width: 100%
}

.beets__container {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    max-width: 100%;
}

/* first section end */

/* second section starts */
.section-matterfulbrands {
    margin-top: 150px;
}

.second-logo-wrapper {
    text-align: center;
    margin-bottom: 22px;
}

.logo-subtitle {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin-top: 7px;
    word-wrap: break-word;
}

.logo-text {
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    max-width: 618px;
    margin: 0 auto;
    margin-top: 11px;
}

.social-pictures {
    margin: 0 auto;
    padding: 15px;
    display: flex;
    flex-direction: column;
}


.social-container1 {
    display: flex;
    margin-bottom: 30px;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.social__1,
.social__9 {
    max-width: 100%;
    height: 215px;
    align-self: flex-end;
}

.social__2 {
    max-width: 100%;
}

.social__3,
.social__6 {
    max-width: 100%;
    height: 348px;
    align-self: flex-end;
}

.social__4 {
    max-width: 100%;
    height: 423px;
    align-self: flex-end;
}

.social__5,
.social__8 {
    max-width: 100%;
    height: 292px;
    align-self: flex-end;
}


.social-pictures {
    padding-bottom: 60px;
}


.social-container2 {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 60px;
}

.social__8,
.social__6,
.social__9,
.social__10 {
    align-self: flex-start;
    max-width: 100%;
}

.social__7 {
    max-width: 100%;
}

/* section services */
.services {
    background: rgb(0, 0, 0);
    padding: 60px 0;
}

.services-title {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.service-text {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    max-width: 414px;
    margin: 0 auto;
    margin-top: 11px;
}


.icon-wrapper {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin-top: 34px;
    justify-content: center;
    gap: 30px;
}

.icon-wrapper figure {
    width: 277.5px;
}

.text-under-icon {
    font-family: 'Playfair Display';
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    color: #fff;
    margin-top: 9px;
}

/* company */

.companies {
    padding-top: 57px;
    padding-bottom: 25px;
}

.companies-text {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    max-width: 740px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 42px;
}

.company-logos {
    display: flex;
    flex-wrap: wrap;
    max-width: 1200px;
    margin: 0 auto;
    gap: 30px;
    align-items: center;
    justify-content: center;
    padding: 15px 15px 0 15px;
}

.company-logos div {
    width: 170px;
    border: 1px dashed gray;
}

.more-view {
    text-align: center;
    color: rgb(57, 53, 50);
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    margin-top: 53px;
}

.thick-line {
    margin: 0 auto;
    margin-top: 6px;
    width: 16px;
    height: 10px;
    box-sizing: border-box;
    border-left: 8px solid rgb(0, 0, 0);
    border-right: 8px solid rgb(0, 0, 0);
    border-top: 10px solid rgb(0, 0, 0);
    margin-bottom: 25px;
}

/* locations */
.locations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.first-location {
    background-image: url('../img/location-los-angeles.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 960px;
    height: 460px;
}

.second-location {
    background-image: url('../img/monterey.png');
    background-repeat: no-repeat;
    width: 960px;
    height: 460px;
    background-size: cover;
}

.first-location,
.second-location {
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-wrap: wrap;
}

.location-title {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    margin: 0px 0px 30px 30px;
}

.location-info {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    margin: 0px 30px 30px 0px;
}

.fontw {
    color: rgba(255, 255, 255, 0.705);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

/* contact us */
.contact-us {
    margin-top: 87px;
}

.contact-title {
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
}

.contact-text {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 400;
    line-height: 28px;
    text-align: center;
    max-width: 727px;
    margin: 0 auto;
    margin-top: 9px;
}

.contact-us-link {
    display: inline-block;
    margin-top: 17px;
    margin-bottom: 90px;
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 700;
    line-height: 14px;
    text-decoration: none;
    color: #000;
    padding: 16px 21px;
    text-transform: uppercase;
    border: 1px solid rgba(0, 0, 0, 0.425);
}

.contact-us-link:hover {
    background-color: black;
    color: white;
}

.contact-container {
    text-align: center;
}

/* cta */

.cta {
    background-color: #000;
    padding: 60px 0px;
}

.cta-title {
    color: rgb(255, 255, 255);
    font-family: 'Playfair Display';
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
}

.cta-text {
    color: rgba(255, 255, 255, 0.541);
    font-family: 'Montserrat';
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.cta-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.input-email {
    border: 0;
    border-bottom: 1px solid rgb(216, 216, 216);
    padding: 19px 0px;
    background-color: transparent;
    width: 503px;
    color: #fff;
    padding-bottom: 5px;
}

.input-email::placeholder {
    color: rgb(153, 153, 153);
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
}

.button {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;
    background-color: transparent;
    padding: 20px 24px;
    margin-left: 30px;
    border: 1px solid rgb(255, 255, 255);
    transition: all 1s linear;
}

.button:hover {
    background-color: #fff;
    color: #000;
}

#form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#text {
    display: block;
    color: #000;
    font-weight: 300;
    font-style: italic;
    padding: 5px;
}


/* footer */

.footer {
    margin-top: 60px;
}

.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    column-gap: 345px;
    row-gap: 50px;
}

.footer-clocks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 30px;
}

.logo-footer {
    max-width: 240px;
    height: 47px;
}

.second-clock,
.first-clock {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}

.second-clock {
    margin-top: 20px;
}

.scpecial-width {
    max-width: 180px;
}

.clock-title {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;

}

.clock-text1 {
    font-family: 'Montserrat';
    font-size: 20px;
    font-weight: 250;
    line-height: 24px;
}

.clock-text2 {
    font-family: 'Montserrat';
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
}

.question-idea {
    font-family: 'Playfair Display';
    font-size: 20px;
    font-weight: 700;
    line-height: 26.67px;
}

.contact-mail {
    font-family: 'Montserrat';
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration: none;
    color: #000;
}

.social-logos {
    margin-top: 18px;
}

.instagram,
.twitter {
    margin-left: 10px;
}

.rights {
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 46px;
    margin-top: 40px;
}

.right-text {
    color: rgb(255, 255, 255);
    font-family: 'Montserrat';
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
}

/* анимации */
body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    background: rgb(54, 31, 31);
}

body::-webkit-scrollbar-thumb {
    background: linear-gradient(4deg, rgb(161, 158, 221) 0%, rgba(5, 181, 105, 1) 35%, rgba(0, 212, 255, 1) 100%);
    border-radius: 10px;
    border: 3px solid rgb(156, 153, 147);
}

.vibrate-1 {
    -webkit-animation: vibrate-1 2s linear infinite both;
    animation: vibrate-1 2s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-10px, 10px);
        transform: translate(-10px, 10px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(15px, 15px);
        transform: translate(15px, 15px);
    }

    80% {
        -webkit-transform: translate(20px, -20px);
        transform: translate(20px, -20px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

.heartbeat {
    -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
    animation: heartbeat 1.5s ease-in-out infinite both;
}


@-webkit-keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

@keyframes heartbeat {
    from {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-transform-origin: center center;
        transform-origin: center center;
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    10% {
        -webkit-transform: scale(0.91);
        transform: scale(0.91);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    17% {
        -webkit-transform: scale(0.98);
        transform: scale(0.98);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }

    33% {
        -webkit-transform: scale(0.87);
        transform: scale(0.87);
        -webkit-animation-timing-function: ease-in;
        animation-timing-function: ease-in;
    }

    45% {
        -webkit-transform: scale(1);
        transform: scale(1);
        -webkit-animation-timing-function: ease-out;
        animation-timing-function: ease-out;
    }
}

.text-shadow-pop-bottom:hover {
    -webkit-animation: text-shadow-pop-bottom 0.6s both;
    animation: text-shadow-pop-bottom 0.6s both;
}


@-webkit-keyframes text-shadow-pop-bottom {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes text-shadow-pop-bottom {
    0% {
        text-shadow: 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555, 0 0 #555555;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        text-shadow: 0 1px #555555, 0 2px #555555, 0 3px #555555, 0 4px #555555, 0 5px #555555, 0 6px #555555, 0 7px #555555, 0 8px #555555;
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}


.color-change-2x:hover {
    -webkit-animation: color-change-2x 2s linear infinite alternate both;
    animation: color-change-2x 2s linear infinite alternate both;
}



@-webkit-keyframes color-change-2x {
    0% {
        background: #fff;
    }

    50% {
        background: #19dcea;
    }

    100% {
        background: #b22cff;
    }
}

@keyframes color-change-2x {
    0% {
        background: #fff;
    }

    50% {
        background: #19dcea;
    }

    100% {
        background: #b22cff;
    }
}


.color-change-4x {
    -webkit-animation: color-change-4x 6s linear infinite alternate both;
    animation: color-change-4x 6s linear infinite alternate both;
    border-radius: 10px;
}

@-webkit-keyframes color-change-4x {
    0% {
        background: #19dcea;
    }

    33.3333% {
        background: #b22cff;
    }

    66.666% {
        background: #ea2222;
    }

    100% {
        background: #f5be10;
    }
}

@keyframes color-change-4x {
    0% {
        background: #19dcea;
    }

    33.3333% {
        background: #b22cff;
    }

    66.666% {
        background: #ea2222;
    }

    100% {
        background: #f5be10;
    }
}

.vibrate-1:hover {
    -webkit-animation: vibrate-1 0.3s linear infinite both;
    animation: vibrate-1 0.3s linear infinite both;
}

@-webkit-keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

@keyframes vibrate-1 {
    0% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }

    20% {
        -webkit-transform: translate(-2px, 2px);
        transform: translate(-2px, 2px);
    }

    40% {
        -webkit-transform: translate(-2px, -2px);
        transform: translate(-2px, -2px);
    }

    60% {
        -webkit-transform: translate(2px, 2px);
        transform: translate(2px, 2px);
    }

    80% {
        -webkit-transform: translate(2px, -2px);
        transform: translate(2px, -2px);
    }

    100% {
        -webkit-transform: translate(0);
        transform: translate(0);
    }
}

/* media queries */
@media (max-width:1165px) {
    .review {
        max-width: 57.5%;
    }

    .sixth-brand {
        gap: 30px;
    }

    .social-pictures {
        padding: 0;
        margin: 0 10px;
    }


    .services__info {
        margin-left: 10px;
        margin-right: 10px;
        text-align: center;
    }

    .input-email {
        width: 100%;
    }

}

@media (max-width:1024px) {
    .first-brand {
        justify-content: center;
        margin-right: 0;
    }

    .third-brand-wrapper {
        flex-direction: column;
        margin: 0 10px;
        justify-content: center;
        align-items: center;
    }

    .weidos__img {
        width: 45%;
    }

    .forth-brand {
        margin-left: 10px;
        margin-right: 10px;
        justify-content: center;
    }

    .fifth-brand,
    .sixth-brand,
    .seventh-brand {
        margin-left: 10px;
        margin-right: 10px;
    }

    .review {
        max-width: 69%;
        padding: 0;
    }


}


@media (max-width:900px) {
    .intro-box-2 {
        width: 70%;
    }

    .review {
        max-width: 75%;
    }
}

@media (max-width:700px) {
    .intro {
        flex-direction: column;
        text-align: center;
    }

    .intro-box-1 {
        flex-basis: 0;
    }

    .review {
        max-width: 100%;
    }

    .intro-box-2 {
        width: 100%;
    }
}

@media (max-width:588px) {
    .icon-wrapper figure {
        max-width: 150px;
    }
}

@media (max-width:568px) {
    .brand-subtitle {
        padding: 10px;
    }
}

@media (max-width:515px) {
    .second-brand {
        justify-content: center;
    }

    .image-comparison_image {
        width: 100%;
    }

    .image-comparison_before {
        height: 100%;
        width: 100%;
    }
}


@media (max-width: 475px) {
    #top {
        max-width: 300px;
        margin-bottom: 20px;
    }

    .header-main-text {
        padding: 0 15px;
        font-size: 14px;
    }

    .brand-fr-text {
        font-size: 10px;
    }

    .brand-snd-text {
        font-size: 18px;
        margin: 0;
    }

    .brand-thrd-text {
        font-size: 12px;
    }

    .contact-us {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@media (max-width:425px) {
    .first-brand {
        margin-left: 10px;
        margin-right: 10px;
    }

    .first-brand img {
        max-width: 100%;
    }

    .brand-subtitle {
        width: 100%;
    }

    .mezcla__info {
        width: 100%;
    }

    .mezcla__container {
        width: 100%;
    }

    .mezcla__img {
        width: 100%;
    }

    .weidos__img {
        width: 100%;
    }

    .second-brand_first {
        width: 100%;
    }

    .second-brand {
        margin: 0 10px;
    }

    .slider {
        width: 115px;
        height: 115px;
        left: 50%;
        border-radius: 50%;
        transform: translate(-50%);
    }

    .vector-right,
    .vector-left {
        width: 20px;
        height: 30px;
        position: relative;
    }

    .vector-right:active {
        left: 5px;
    }

    .vector-left:active {
        right: 5px;
    }

    .review-card {
        padding: 20px;
    }

    .companies-text {
        margin-left: 10px;
        margin-right: 10px;
    }

    .company-logos {
        gap: 10px;
    }

    .cta-wrapper {
        margin-left: 10px;
        margin-right: 10px;
    }

    .modal__text {
        font-size: 20px;
    }

    .modal__child {
        max-width: 350px;
    }
}

@media (max-width:350px) {
    .before {
        width: 55px;
    }

    .after {
        width: 55px !important;
    }

    .cta-title {
        font-size: 20px;
    }

    .cta-text {
        font-size: 14px;
    }
}

@media (max-width: 296px) {
    #top {
        max-width: 70%;
        filter: drop-shadow(0px 0px 0px black);
    }

    .loncaro-title {
        font-size: 20px;
    }

    .loncaro-second-text {
        font-size: 14px;
    }

    .location-title {
        margin: 0 auto;
        font-size: 15px;
    }

    .button {
        margin-left: 0;
    }
}